/* ==========================================================================
Blog editor styles
========================================================================== */
.blog-editor-header {
    position: fixed;
    top: 56px;
    left: 0;
    right: 274px;
    height: 45px;
    padding: 2px 2px 2px 20px;
    background: #fff;
    border-bottom: 1px solid #c6cfd6;
    z-index: 900;
}
.blog-editor-nav-info {
    height: 40px;
    line-height: 40px;
    float: left;
}
.blog-editor-header-control {
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    float: right;
}
.blog-editor-header-control button {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-item-align: center;
    align-self: center;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 3px;
}
.blog-editor-header-control fa-layers {
    font-size: 25px;
    vertical-align: bottom;
}
.blog-editor-main {
    display: block;
    position: relative;
    margin: 0;
    padding: 56px 300px 25px 25px;
}
.blog-editor-title {
    max-width: 702px;
    margin: 0 auto;
}
.blog-editor-title input {
    font-size: 2rem;
    margin-bottom: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 0;
}
.blog-editor-wysiwyg {
    max-width: 700px;
    margin: 0 auto;
}
.blog-editor-sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #c6cfd6;
    border-right: 1px solid #c6cfd6;
    width: 274px;
    overflow: auto;
    padding: 56px 0 0;
    background: #dbe2e6;
    z-index: 100;
}
.blog-editor-sidebar-header {
    padding: 10px 15px;
}
.blog-editor-sidebar-content {
}
.blog-editor-settings {
    font-size: 14px;
}
.blog-editor-settings ::ng-deep .card {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #c6cfd6 !important;
    border-radius: 0;
}
.blog-editor-settings ::ng-deep .card:first-child {
    border-top: 1px solid #c6cfd6 !important;
}
.blog-editor-settings ::ng-deep .card-header {
    padding: 0;
    border-bottom: 0;
    background-color: initial;
}
.blog-editor-settings ::ng-deep .card-header:first-child {
    border-radius: 0;
}
.blog-editor-settings ::ng-deep .card-header > h5 > button {
    width: 100%;
    padding: 0.6rem 0.75rem;
    color: #6f6f6f;
    text-align: left;
    font-size: 0.9rem;
    border: 0;
    border-radius: 0;
    text-decoration: none !important;
}
.blog-editor-settings ::ng-deep .card-header > h5 > button:hover {
    color: #ff5722;
}
.blog-editor-settings ::ng-deep .card-body {
    padding: 0 1rem 1rem 1rem;
}
.input-tags {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #c6cfd6;
    cursor: text;
    padding: 5px 5px 5px 0;
    width: 100%;
    font-weight: 400;
}
.input-tags .item {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    margin: 2px 0 2px 5px;
    overflow: hidden;
}
.input-tags .item .tag {
    display: inline-block;
    border-radius: 4px 0 0 4px;
    padding: 0 2px 0 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 23px;
    background: #6c757d;
    border-top: 1px solid #6c757d;
    border-left: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
}
.input-tags .item .btn-remove {
    padding: 0 6px;
    font-size: 15px;
    color: #fff;
    line-height: 23px;
    cursor: pointer;
    background: #6c757d;
    border-radius: 0 4px 4px 0;
    border-color: #6c757d;
    border-left: 0;
}
.input-tags .item .btn-remove:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
.input-tags .item .btn-remove:focus {
    box-shadow: none;
}
.tag-inputbox {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #c6cfd6;
    font-weight: 400;
    outline: 0;
}
.suggestion-tags {
    background: #fff;
    max-height: 0;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
    transition: all 0.15s ease-in-out;
}
.suggestion-tags.expanded {
    max-height: 145px;
}
.suggestion-tags .tag {
    display: block;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.suggestion-tags .tag:hover {
    background: #00aadc;
    color: #fff;
}
.opening-datepicker {
    margin-bottom: 8px;
}
.opening-timepicker {
    display: block;
    text-align: center;
}
.opening-timepicker ::ng-deep fieldset {
    display: inline-block;
}
.more-option-legend {
    display: block;
    font-size: 13px;
    margin-bottom: 4px;
}
.more-option {
    font-size: 13px;
}
::ng-deep .modal-backdrop.not-fade {
    transition: initial;
}
