/* ==========================================================================
Blog basic settings styles
========================================================================== */
.display-area .basic-url {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    width: 100%;
}
.display-area .action .owned-url {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-item-align: center;
    align-self: center;
    box-sizing: border-box;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-weight: initial;
}
.display-area .action > a > small {
    display: inline-block;
    padding: 0.375rem;
}
