/* ==========================================================================
Sign-in
========================================================================== */
.cks-sign-in-container {
    padding-top: 20px;
    padding-bottom: 40px;
    height: 100vh;
    min-height: 100vh;
    min-width: 100%;
}
.cks-sign-in-card {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}
.form-group > input {
    height: 2.75rem;
    padding: 0.75rem;
}
.cks-sign-in-language-card {
    width: 100%;
    max-width: 420px;
    margin: auto;
}
