<div class="blog-maker-main">
    <div class="blog-main-header">
        <div class="blog-main-header-title">
            <span jhiTranslate="blog.maker.title">Create New Blog</span>
        </div>
    </div>
    <div class="blog-main-content">
        <form name="makerForm" role="form" (ngSubmit)="create()" [formGroup]="makerForm">
            <div class="form-group">
                <label for="title" jhiTranslate="blog.maker.form.title">Title</label>
                <input type="text" class="form-control" id="title" name="title"
                    placeholder="{{'blog.maker.form.title.placeholder' | translate}}" formControlName="title"
                    autocomplete="off" required>
                <div
                    *ngIf="makerForm.get('title').invalid && (makerForm.get('title').dirty || makerForm.get('title').touched)">
                    <small class="form-text text-danger" *ngIf="makerForm.get('title').errors.required"
                        jhiTranslate="blog.messages.validate.title.required">
                        Blog's title is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="makerForm.get('title').errors.minlength"
                        jhiTranslate="blog.messages.validate.title.minlength">
                        Blog's title is required to be at least 1 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="makerForm.get('title').errors.maxlength"
                        jhiTranslate="blog.messages.validate.title.maxlength">
                        Blog's title cannot be longer than 100 characters.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="subDomain" jhiTranslate="blog.maker.form.address">Address</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="subDomain" name="subDomain" (focus)="enterSubdomain()"
                        (blur)="!(makerForm.get('subDomain').invalid && (makerForm.get('subDomain').dirty || makerForm.get('subDomain').touched)) ? checkSubdomain($event.target.value) : ''"
                        placeholder="{{'blog.maker.form.address.placeholder' | translate}}" formControlName="subDomain"
                        autocomplete="off" required>
                    <div class="input-group-append">
                        <span class="input-group-text">{{'blog.maker.form.address.postfix' | translate}}</span>
                    </div>
                </div>
                <div *ngIf="!(makerForm.get('subDomain').invalid && (makerForm.get('subDomain').dirty || makerForm.get('subDomain').touched))">
                    <small class="form-text"
                        *ngIf="!isEnteringSubdomain && !isAvailableSubdomain && !makerForm.get('subDomain').value"
                        jhiTranslate="blog.maker.form.messages.address.enter">
                        Enter blog address.
                    </small>
                    <small class="form-text" *ngIf="isEnteringSubdomain"
                        jhiTranslate="blog.maker.form.messages.address.entering">
                        Entering...
                    </small>
                    <small class="form-text" *ngIf="!isEnteringSubdomain && isAvailableSubdomain"
                        jhiTranslate="blog.maker.form.messages.address.available">
                        This blog address is available.
                    </small>
                    <small class="form-text text-danger"
                        *ngIf="!isEnteringSubdomain && !isAvailableSubdomain && makerForm.get('subDomain').value"
                        jhiTranslate="blog.maker.form.messages.address.unavailable">
                        Unavailable blog address.
                    </small>
                </div>
                <div
                    *ngIf="makerForm.get('subDomain').invalid && (makerForm.get('subDomain').dirty || makerForm.get('subDomain').touched)">
                    <small class="form-text text-danger"
                        *ngIf="makerForm.get('subDomain').errors.maxlength || makerForm.get('subDomain').errors.pattern"
                        jhiTranslate="blog.maker.form.messages.address.invalid">
                        Invalid blog address.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label jhiTranslate="blog.maker.form.theme">Theme</label>
                <div class="theme-list-group">
                    <div class="theme-list-item"
                        [ngClass]="{'selected': (currTheme ? currTheme.id === theme.id : false)}"
                        *ngFor="let theme of themes" (click)="previewTheme(theme.id)">
                        <img class="img-theme-thumbnail" [ngClass]="{'no-image': !theme.imageUrl}"
                            [src]="getThumbnailImageUrl(theme.imageUrl)">
                        <div>{{theme.name}}</div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary" [disabled]="makerForm.invalid && !isAvailableSubdomain"
                    jhiTranslate="blog.maker.form.buttons.create">Create</button>
                <button type="button" class="btn btn-outline-secondary" [routerLink]="['/blog.cb']" fragment="welcome"
                    jhiTranslate="blog.maker.form.buttons.cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div class="blog-maker-sidebar-container">
    <div class="blog-maker-theme-detail">
        <div class="blog-maker-theme-detail-title" jhiTranslate="blog.maker.theme_detail.title">
            Theme Preview
        </div>
        <div class="card" *ngIf="currTheme">
            <img class="card-img-top" [ngClass]="{'no-image': !currTheme.imageUrl}"
                [src]="getPreviewImageUrl(currTheme.imageUrl)">
            <div class="card-body">
                <h5 class="card-title">{{currTheme.name}}</h5>
                <p class="card-text">{{currTheme.description}}</p>
            </div>
        </div>
    </div>
</div>
