<div class="blog-main">
    <div class="blog-main-header">
        <div class="blog-main-header-title">
            <span jhiTranslate="blog.sidebar.sub-menu.settings.other">Other</span>
        </div>
    </div>
    <div class="blog-main-content">
        <div class="card settings-border mb-3">
            <div class="card-header settings-header">
                <div class="settings-title" jhiTranslate="blog.settings.other.blog_delete.title">Delete Blog</div>
                <div class="settings-action">
                    <button type="button" class="btn btn-primary btn-sm" jhiTranslate="blog.settings.form.buttons.delete">Delete</button>
                </div>
            </div>
            <div class="card-body">
                <span jhiTranslate="blog.settings.other.blog_delete.info">Your blog will be deleted.</span>
            </div>
        </div>
    </div>
</div>
