/* ==========================================================================
Sign-up
========================================================================== */
.list-agree-item {
    
}

.list-agree-item > label {
    display: inline-block;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.list-agree-item > .cks-checkbox {
    position: absolute;
    top: 50%;
    right: 19px;
    margin-top: -12px;
}
