/* ==========================================================================
Blog sidebar styles
========================================================================== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 0.0625em solid #c6cfd6;
  width: 15.625em;
  overflow: auto;
  padding: 3.5em 0 0;
  background: #dbe2e6;
  z-index: 100;
}
.sidebar-header {
  padding: 0.625em;
}
.btn-select-blog {
  color: #000;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  font-size: 1.125em;
  cursor: pointer;
  width: 100%;
  text-align: left;
  &:focus {
    box-shadow: none;
  }
  .btn-select-blog-content {
    display: block;
    float: left;
    max-width: calc(100% - 1.25em);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.sidebar-content {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-flex: 1;
  flex: 1;
  -webkit-overflow-scrolling: touch;
}
.sidebar-menu {
  padding: 0;
  margin: 0 0 1.5625em 0;
  list-style: none;
  a {
    &:first-child {
      span {
        margin-left: 0.5em;
      }
    }
  }
  fa-layers {
    font-size: 1.5625em;
    vertical-align: bottom;
  }
  > li {
    border-bottom: 0.0625em solid transparent;
    > a {
      display: block;
      font-weight: initial;
      text-decoration: none;
      color: #000;
      padding: 0.625em 0.625em 0.625em 0.8125em;
      cursor: pointer;
    }
  }
}
.sidebar-sub-menu {
  padding: 0;
  margin: 0;
  float: none;
  background-color: transparent;
  border-radius: inherit;
  border: 0;
  list-style: none;
  > li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    border-bottom: 0.0625em solid transparent;
    > a {
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -ms-flex-item-align: center;
      align-self: center;
      box-sizing: border-box;
      overflow: hidden;
      &:first-child {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        font-weight: initial;
        text-decoration: none;
        color: #000;
        padding: 0.625em 0.625em 0.625em 0.8125em;
        cursor: pointer;
      }
      &.btn {
        margin-right: 0.3125em;
      }
    }
  }
}
