/* ==========================================================================
Blog sidebar styles
========================================================================== */
.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #c6cfd6;
    width: 250px;
    overflow: auto;
    padding: 56px 0 0;
    background: #dbe2e6;
    z-index: 100;
}
.sidebar-header {
    padding: 10px;
}
.btn-select-blog {
    color: #000;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}
.btn-select-blog:focus {
    box-shadow: none;
}
.btn-select-blog .btn-select-blog-content {
    display: block;
    float: left;
    max-width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar-content {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-flex: 1;
    flex: 1;
    -webkit-overflow-scrolling: touch;
}
.sidebar-menu {
    padding: 0;
    margin: 0 0 25px 0;
    list-style: none;
}
.sidebar-menu a:first-child span {
    margin-left: 8px;
}
.sidebar-menu fa-layers {
    font-size: 25px;
    vertical-align: bottom;
}
.sidebar-sub-menu {
    padding: 0;
    margin: 0;
    float: none;
    background-color: transparent;
    border-radius: inherit;
    border: 0px;
    list-style: none;
}
.sidebar-sub-menu > li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
}
.sidebar-menu > li,
.sidebar-sub-menu > li {
    border-bottom: 1px solid transparent;
}
.sidebar-menu > li > a {
    display: block;
    font-weight: initial;
    text-decoration: none;
    color: #000;
    padding: 10px 10px 10px 13px;
    cursor: pointer;
}
.sidebar-sub-menu > li > a {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-item-align: center;
    align-self: center;
    box-sizing: border-box;
    overflow: hidden;
}
.sidebar-sub-menu > li > a:first-child {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-weight: initial;
    text-decoration: none;
    color: #000;
    padding: 10px 10px 10px 13px;
    cursor: pointer;
}
.sidebar-sub-menu > li > a.btn {
    margin-right: 5px;
}
