<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span jhiTranslate="global.title" class="navbar-title">Chakans</span> <span class="navbar-version">{{version}}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li *ngSwitchCase="false" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" (click)="signIn();collapseNavbar()">
                    <span>
                        <fa-layers [fixedWidth]="true">
                            <fa-icon icon="sign-in-alt"></fa-icon>
                        </fa-layers>
                        <span jhiTranslate="global.menu.sign.in">Sign in</span>
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="self-account-menu">
                    <span *ngIf="!getImageUrl()">
                        <fa-layers [fixedWidth]="true">
                            <fa-icon icon="user"></fa-icon>
                        </fa-layers>
                        <span jhiTranslate="global.menu.account.main">
                            Account
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="self-account-menu">
                    <li>
                        <a class="dropdown-item" routerLink="self/settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-layers [fixedWidth]="true">
                                <fa-icon icon="wrench"></fa-icon>
                            </fa-layers>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="self/password/change" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-layers [fixedWidth]="true">
                                <fa-icon icon="lock"></fa-icon>
                            </fa-layers>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="signOut()" id="signOut">
                            <fa-layers [fixedWidth]="true">
                                <fa-icon icon="sign-out-alt"></fa-icon>
                            </fa-layers>
                            <span jhiTranslate="global.menu.account.sign.out">Sign out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesNavBarDropdown">
                    <span>
                        <fa-layers [fixedWidth]="true">
                            <fa-icon icon="flag"></fa-icon>
                        </fa-layers>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesNavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [cksActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
