@import '../../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../../node_modules/bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
.navbar {
  position: fixed;
  width: 100%;
  padding: 0.125rem 1rem;
  z-index: 1000;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
    @media screen and (max-width: 768px) {
      .dropdown-menu {
        position: static !important;
        top: initial !important;
        left: initial !important;
        transform: none !important;
      }
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}
/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
  padding: 0 1rem;
  height: 3.25rem;
  line-height: 3.25rem;
}

.logo-img {
  height: 45px;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
