/* ==========================================================================
Initial page styles
========================================================================== */
:host {
    display: block;
    position: relative;
    margin: 0;
    padding: 10px 25px 25px 25px;
    box-sizing: border-box;
    overflow: hidden;
}
.initial-header {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.initial-header-title {
    font-size: 1.25em;
    padding: 0.7em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.initial-content {
    max-width: 720px;
    margin: auto;
}
.initial-content-title {
    font-size: 1.2em;
    padding: 0.8em 0;
}
.initial-content .card {
    margin-bottom: 1em;
}
.initial-content-action {
    float: right;
}
