<div class="blog-main">
    <div class="blog-main-header">
        <div class="blog-main-header-title">
            <span jhiTranslate="blog.sidebar.sub-menu.settings.user">User</span>
        </div>
    </div>
    <div class="blog-main-content">
        <div class="card settings-border mb-3">
            <form name="privacyForm" role="form" (ngSubmit)="savePrivacy()" [formGroup]="privacyForm">
                <div class="card-header settings-header">
                    <div class="settings-title" jhiTranslate="blog.settings.user.privacy.title">Privacy</div>
                    <div class="settings-action">
                        <button type="submit" class="btn btn-primary btn-sm" [disabled]="isSaving" jhiTranslate="blog.settings.form.buttons.save">Save</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="openProfile" name="openProfile" formControlName="openedProfile">
                        <label class="form-check-label" for="openProfile" jhiTranslate="blog.settings.user.privacy.form.open_profile">Open profile</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="openedEmail" name="openedEmail" formControlName="openedEmail">
                        <label class="form-check-label" for="openedEmail" jhiTranslate="blog.settings.user.privacy.form.open_email">Open e-mail</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card settings-border mb-3">
            <form name="profileImageForm" role="form" (ngSubmit)="saveProfileImage()" [formGroup]="profileImageForm">
                <div class="card-header settings-header">
                    <div class="settings-title" jhiTranslate="blog.settings.user.profile_image.title">Profile Image</div>
                    <div class="settings-action">
                        <button type="submit" class="btn btn-primary btn-sm" [disabled]="isSaving" jhiTranslate="blog.settings.form.buttons.save">Save</button>
                    </div>
                </div>
                <div class="card-body">
                    <img class="img-profile" [src]="profileImageUrl" *ngIf="profileImageUrl">
                    <div class="img-control">
                        <div class="upload" *ngIf="!profileImageUrl">
                            <label class="btn btn-primary btn-sm" for="profileImage" jhiTranslate="blog.settings.user.profile_image.form.buttons.upload">Upload</label>
                            <input type="file" id="profileImage" accept="image/*" (change)="previewImage($event)" formControlName="profileImage">
                        </div>
                        <div *ngIf="profileImageUrl">
                            <button type="button" class="btn btn-primary btn-sm" (click)="removeImage()" jhiTranslate="blog.settings.user.profile_image.form.buttons.remove">Remove</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card settings-border">
            <form name="userInfoForm" role="form" (ngSubmit)="saveUserInfo()" [formGroup]="userInfoForm">
                <div class="card-header settings-header">
                    <div class="settings-title" jhiTranslate="blog.settings.user.user_info.title">User Information</div>
                    <div class="settings-action">
                        <button type="submit" class="btn btn-primary btn-sm" [disabled]="userInfoForm.invalid || isSaving" jhiTranslate="blog.settings.form.buttons.save">Save</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label jhiTranslate="blog.settings.user.user_info.form.email">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="{{'blog.settings.user.user_info.form.email.placeholder' | translate}}"
                               formControlName="email" autocomplete="off" required>
                        <div *ngIf="userInfoForm.get('email').invalid && (userInfoForm.get('email').dirty || userInfoForm.get('email').touched)">
                            <small class="form-text text-danger" *ngIf="userInfoForm.get('email').errors.required"
                                   jhiTranslate="global.messages.validate.email.required">
                                Your email is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="userInfoForm.get('email').errors.invalid"
                                   jhiTranslate="global.messages.validate.email.invalid">
                                Your email is invalid.
                            </small>
                            <small class="form-text text-danger" *ngIf="userInfoForm.get('email').errors.minlength"
                                   jhiTranslate="global.messages.validate.email.minlength">
                                Your email is required to be at least 5 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="userInfoForm.get('email').errors.maxlength"
                                   jhiTranslate="global.messages.validate.email.maxlength">
                                Your email cannot be longer than 254 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label jhiTranslate="blog.settings.user.user_info.form.nickname">Nickname</label>
                        <input type="text" class="form-control" id="nickname" name="nickname"
                               placeholder="{{'blog.settings.user.user_info.form.nickname.placeholder' | translate}}"
                               formControlName="nickname" autocomplete="off" required>
                        <div *ngIf="userInfoForm.get('nickname').invalid && (userInfoForm.get('nickname').dirty || userInfoForm.get('nickname').touched)">
                            <small class="form-text text-danger" *ngIf="userInfoForm.get('nickname').errors.required"
                                   jhiTranslate="global.messages.validate.email.required">
                                Your nickname is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="userInfoForm.get('nickname').errors.minlength"
                                   jhiTranslate="global.messages.validate.email.minlength">
                                Your nickname is required to be at least 3 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="userInfoForm.get('nickname').errors.maxlength"
                                   jhiTranslate="global.messages.validate.email.maxlength">
                                Your nickname cannot be longer than 100 characters.
                            </small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
