/* ==========================================================================
Settings
========================================================================== */
.list-group-item {
    padding-top: 0;
    padding-right: 0.75rem;
    padding-bottom: 0;
    padding-left: 0.75rem;
}

.list-agree-item {
    
}

.list-agree-item > .cks-checkbox {
    position: absolute;
    top: 50%;
    margin-top: -12px;
}

.list-agree-item > label {
    display: inline-block;
    margin-top: .5rem;
    margin-left: 2.0rem;
    margin-bottom: .5rem;
}