/* ==========================================================================
Blog main styles
========================================================================== */
.blog-main-header {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.blog-main-header-title {
    font-size: 18px;
    padding: 7px 0;
    margin-bottom: 5px;
}
.blog-main-header-panel {
    background: #fff;
    border: 1px solid #c6cfd6;
    margin-bottom: 20px;
}
.blog-main-content {

}
.cks-tabs {
    cursor: initial;
}
.cks-list .list-group-item {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border: 1px solid #c6cfd6;
    padding: .75rem .3rem .75rem 1.25rem;
}
.cks-list .badge {
    float: right;
}
@media screen and (min-width: 768px) {
    .cks-tabs .nav-item {
        border-bottom: 2px solid transparent
    }
    .cks-tabs .nav-item.active {
        border-bottom-color: #1b1e21;
    }
    .cks-tabs .nav-link {
        padding: 13px 13px 11px 13px;
    }
}