/* ==========================================================================
Home page styles
========================================================================== */
.see-all-products {
    border-top: 1px solid #bdbdbd;
}
.product-icon-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0.875rem;
    padding: 40px 0;
    list-style: none;
}
.product-icon-list li {
    float: left;
    margin: 1.5% 2%;
    text-align: center;
    width: 45%;
}
.product-icon-list li a {
    color: #533f03;
    text-decoration: none;
}
.product-icon-list li .icon {
    height: 60px;
    margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
    .product-icon-list li {
        width: 20%;
    }
}
@media (min-width: 1024px) {
    .product-icon-list li {
        width: 10%;
    }
}
