<div class="cks-main">
    <div class="d-flex flex-column align-items-center justify-content-center my-4 mx-auto">
        <p class="display-4" jhiTranslate="home.info">Now, It's developing <a href="/blogs">C.Blog</a>.</p>
    </div>
    <div class="see-all-products"></div>
    <section class="all-products">
        <div>
            <ul class="product-icon-list">
                <li>
                    <a href="/accounts">
                        <img class="icon" src="https://fs.chakans.com/cdn/cks/icon/chakans_account_128_128.png" alt="Chakans Account"/>
                        <div>Chakans Account</div>
                    </a>
                </li>
                <li>
                    <a href="/blogs">
                        <img class="icon" src="https://fs.chakans.com/cdn/cks/icon/chakans_blog_128_128.png" alt="Chakans Blog"/>
                        <div>Chakans Blog</div>
                    </a>
                </li>
                <li>
                    <a href="/drives">
                        <img class="icon" src="https://fs.chakans.com/cdn/cks/icon/chakans_drive_128_128.png" alt="Chakans Drive"/>
                        <div>Chakans Drive</div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>
