/* ==========================================================================
Blog pages styles
========================================================================== */
.comment-item-detail {
  font-size: 14px;
  position: relative;
  width: 100%;
  margin-right: auto;
  word-break: break-word;
  word-wrap: break-word;
}
.comment-item-author {
  font-weight: 600;
}
.comment-item-separator {
  font-size: 12px;
}
.comment-item-datetime {
  font-size: 12px;
}
.comment-item-content {
  padding: 10px 0px 0px 10px;
}
.comment-item-post-link {
  font-weight: 600;
  margin-bottom: 8px;
}
.comment-item-parent-comment {
  margin-bottom: 8px;
}
